<div class="container">
  <h1 class="mb-3 mt-3">Stupid Coaching</h1>
  <form action="/answer" method="get">
      <label class="mb-1" for="ask">Ask your coach anything:</label>
      <div class="inline-form form-group">
        <input class="form-control mr-sm-2 mr-1" type="text" name="ask">
        <input class="btn btn-primary" type="submit" value="Ask!">
      </div>
  </form>
</div>
